@import url(../common.css);

.main-box {
  width: 700px;
  border: 4px double rgb(200, 199, 199);
  margin: 25px auto;
}
.headline {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  /* border: 1px solid #000; */
  padding: 15px 0;
  background: rgb(186, 186, 186);
}
.subhead {
  text-align: center;
  font-size: 1.2rem;
  /* border: 1px solid #000; */
  background: rgb(68, 68, 68);
  color: whitesmoke;
  padding: 8px;
  border-bottom: 2px solid #949393;
}
.yellow {
  color: #fafa30;
  font-weight: 800;
  font-size: 1.2em;
}
.flowers {
  background: grey;
  height: 400px;
  padding: 24px 0;
}
.flowers li {
  width: 23.75%;
  height: 350px;
  border: 2px solid #5b5a5a;
  float: left;
  margin-left: 1%;
  padding: 5px;
  text-align: justify;
}
.flowers .content1 {
  background: rgb(247, 69, 69);
}
.flowers .content1 .img {
  background-image: url(../../img/tulip.jpg);
  
}
.flowers .content2 {
  background: rgb(165, 30, 165);
}
.flowers .content2 .img {
  background-image: url(../../img/jebi.jpg);
  
}
.flowers .content3 {
  background: rgb(253, 171, 20);
}
.flowers .content3 .img {
  background-image: url(../../img/hobak.jpg);
  
}
.flowers .content4 {
  background: #fafa30;
}
.flowers .content4 .img {
  background-image: url(../../img/sunflower.jpg);
  
}

ul li .img {
  height: 150px;
  border: 1px solid #000;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
}

